@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    transition: background-color .5s;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
}

h2 {
    padding: 0.3rem;
    text-align: center;
}

p{
    text-align: center;
    padding-top: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

#question-buttons {
    flex-direction: column;
    justify-content: center;
}

#question-buttons > .container {
    margin: 1rem;
}

.question-button {
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    box-shadow: #b3b3b3 0 0 20px 6px;
    border-radius: 0.3rem;
    background-color: white;
}

.question-button:hover{
    background-color: lightblue;
}

#scores {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scores > div {
    margin: 2rem 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 5rem;
    margin-top: -1rem;
}

#question{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}